<h1>Your claimed job</h1>
<table class="table table-striped", style="width: 100%">
  <colgroup>
    <col span="1" style="width: 50%;">
    <col span="1" style="width: 25%;">
    <col span="1" style="width: 25%;">
  </colgroup>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Pick up address</th>
      <th scope="col">Drop off address</th>
    </tr>
  </thead>
  <tbody>
    <% @claims.each do |claim| %>
      <tr>
        <td colspan="1">
          <%= link_to claim.job.title, claim.job %>
        </td>
        <td>
          <%= link_to claim.job.pick_up_address, "https://www.google.com/maps/search/?api=1&query=#{claim.job.pick_up_latitude},#{claim.job.pick_up_longitude}", target: "_blank" %>
        </td>
        <td>
          <%= link_to claim.job.drop_off_address, "https://www.google.com/maps/search/?api=1&query=#{claim.job.drop_off_latitude},#{claim.job.drop_off_longitude}", target: "_blank" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
