<h1>Work better with us</h1>
	<%= link_to new_user_session_path do %>Sign In<% end %>
    # <%= link_to new_user_registration_path do %>Sign Up<% end %>
<p>Find me in app/views/job/index.html.erb</p>

<% @jobs.each do |job| %>
    <%= link_to job.pick_up_address %>
<% end %>
