<h1>Work better with us</h1>

<% @jobs.each do |job| %>
    <%= job.title %>
    <%= link_to "Show", job_path(job), class: "button" %>
<% end %><br />

<%= link_to "Create job", new_job_path, class: "button" %>
