<h1>Your job</h1>
<table class="table table-striped", style="width: 100%">
  <colgroup>
    <col span="1" style="width: 50%;">
    <col span="1" style="width: 25%;">
    <col span="1" style="width: 25%;">
  </colgroup>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Pick up address</th>
      <th scope="col">Drop off address</th>
    </tr>
  </thead>
  <tbody>
    <% @job.each do |job| %>
      <tr>
        <td>
          <%= link_to job.title, job %>
        </td>
        <td>
          <%= link_to job.pick_up_address, "https://www.google.com/maps/search/?api=1&query=#{job.pick_up_latitude},#{job.pick_up_longitude}", target: "_blank" %>
        </td>
        <td>
          <%= link_to job.drop_off_address, "https://www.google.com/maps/search/?api=1&query=#{job.drop_off_latitude},#{job.drop_off_longitude}", target: "_blank" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
