<% content_for :navbar do %>
  <li class="nav-item">
    <%= link_to "Log In", new_user_session_path, class: "m-3" %>
  </li>
  <li class="nav-item">
    <%= link_to "Sign Up", new_user_registration_path  %>
  </li>
<% end %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Work better with us</h1>
    <p class="lead py-3">GoGet is a community platform for reliable and skilled part time help. Empower the community to achieve greater productivity and connectivity in everyday work.</p>
    <%= link_to "Create job", new_job_path, class: "button btn btn-outline-success" %>
  </div>
</div>
