<span>Home</span>
<h1>Work better with us</h1>
	<%= link_to new_user_session_path, class: 'login-button' do %>Log In<% end %>
    <%= link_to new_user_registration_path do %>Sign Up<% end %>
<p>Find me in app/views/job/index.html.erb</p>
